{% extends 'base.html' %}
{% set active_page = "event" %}

{% block content %}
  <div class="header w3-padding-48" style="height: 100%">
    <h1>Event List</h1>
  </div>
  <table id="event-list" class="w3-table w3-striped w3-hoverable w3-card-2">
    <thead>
      <tr class=" w3-flat-midnight-blue ">
        <th>id</th>
        <th>Title</th>
        <th>Category</th>
        <th>Start Date</th>
        <th class="w3-center">Description</th>
        <th class="w3-center">Status</th>
        <th class="w3-center">Detail</th>
      </tr>
    </thead>
    {% for event in result %}
    <tr>
      <td>{{ event.index }}</td>
      <td style="width: 20%;">{{ event.title }}</td>
      <td>{{ event.category }}</td>
      <td>{{ event.date.start }}</td>
      <td class="w3-center" style="width: 30%;">{{ event.desc }}</td>
      {% if event.status == true %}
        <td class="w3-center w3-text-green">
          Accept
        </td>
      {% elif event.status == false%}
        <td class="w3-center w3-text-red">
          Reject
        </td>
      {% elif event.status == None %}
        <td class="w3-center">
          Review
        </td>
      {% endif %}
      <td class="w3-center">
        <i class='fas fa-eye event_detail_button' 
        style='font-size:20px;' 
        data-id="{{ event.index }}" 
        onclick="document.getElementById('event-detail').style.display='block'">
      </i>
    </td>
  </tr>
  {% endfor %}
</table>

<div id="event-detail" class="w3-modal event-detail">
  <div class="w3-modal-content w3-animate-zoom w3-card-4">
    <header class="w3-container w3-flat-midnight-blue">
      <h2>Event detail page</h2>
    </header>
    
    <form class="w3-container" style="padding: 10px;">
      <img class="center" id="eventImage" src='' width="70%" /><br>
      
      <label class="w3-text-flat-midnight-blue"><b>Index</b></label>
      <input class="w3-input" id="eventIndex" type="text" disabled>
      
      <label class="w3-text-flat-midnight-blue"><b>Title</b></label>
      <input class="w3-input" id="eventTitle" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Category</b></label>
      <input class="w3-input" id="eventCategory" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Link</b></label>
      <input class="w3-input" id="eventLink" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Start Date</b></label>
      <input class="w3-input" id="eventStart" type="date">
      
      <label class="w3-text-flat-midnight-blue"><b>End Date</b></label>
      <input class="w3-input" id="eventEnd" type="date">
      
      <label class="w3-text-flat-midnight-blue"><b>Display Date</b></label>
      <input class="w3-input" id="eventDisplay" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Note</b></label>
      <input class="w3-input" id="eventNote" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Address</b></label>
      <input class="w3-input" id="eventAddress" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Description</b></label>
      <input class="w3-input" id="eventDesc" type="text">
      
      <label class="w3-text-flat-midnight-blue"><b>Region</b></label>
      <select class="w3-select w3-border" name='option' id="eventRegion">
        <option value="">無</option>
        <option value="北部">北部</option>
        <option value="中部">中部</option>
        <option value="南部">南部</option>
        <option value="東部">東部</option>
      </select>
      <label class="w3-text-flat-midnight-blue"><b>Reporter Name</b></label>
      <input class="w3-input" id="eventReporterName" type="text" disabled>
      
      <label class="w3-text-flat-midnight-blue"><b>Reporter Email</b></label>
      <input class="w3-input" id="eventReporterEmail" type="text" disabled>
      
      <label class="w3-text-flat-midnight-blue"><b>Reporter Phone</b></label>
      <input class="w3-input" id="eventReporterPhone" type="text" disabled>
      
      <label class="w3-text-flat-midnight-blue"><b>Show on banner?</b></label><br>
      <input class="w3-check" id="eventHomeBanner" type="checkbox"> Home banner <br>
      <input class="w3-check" id="eventCategoryBanner" type="checkbox"> Category banner <br>
    
    </form>
    <div class="w3-container">
      <button type="button"
      class="accept_button w3-button w3-right w3-section w3-hover-grey w3-hover-text-white w3-cyan w3-round w3-text-white w3-card-2">
      Accept
    </button>
    <button type="button" 
    style="margin:5px;"
    onclick="closeWindows();"
    class="w3-button w3-right w3-section w3-hover-grey w3-hover-text-white w3-grey w3-round w3-card-2">
    Cancel
  </button>
  <button type="button"
  class="reject_button w3-button w3-left w3-section w3-hover-grey w3-hover-text-white w3-red w3-round w3-card-2">
  Reject
</button>
</div>
</div>
</div>


<script type=text/javascript>

//get_detail_event
$('#event-list').on('click', '.event_detail_button', e => {
  e.preventDefault();
  var eventId = e.target.dataset.id;
  
  $.ajax({
    type: "GET",
    url: "/api/event/" + eventId,
    dataType: 'json',
    contentType: 'application/json; charset=utf-8',
  }).done(function (data) {
    $('#eventIndex').val(data[0].index)
    $('#eventTitle').val(data[0].title)
    $('#eventLink').val(data[0].link)
    $('#eventStart').val(data[0].date.start)
    $('#eventEnd').val(data[0].date.end)
    $('#eventDisplay').val(data[0].display_date)
    $('#eventNote').val(data[0].Note)
    $('#eventAddress').val(data[0].address)
    $('#eventDesc').val(data[0].desc)
    $('#eventReporterName').val(data[0].reporter.name)
    $('#eventReporterEmail').val(data[0].reporter.email)
    $('#eventReporterPhone').val(data[0].reporter.phone)
    $('#eventImage').attr('src', data[0].img)
    $('#eventCategory').val(data[0].category)
    $('#eventRegion').val(data[0].region)

    if(data[0].banner.home == true) {
      $('#eventHomeBanner').attr('checked', true)
    }else {
      $('#eventHomeBanner').attr('checked', false)
    }
    if(data[0].banner.category == true) {
      $('#eventCategoryBanner').attr('checked', true)
    }else {
      $('#eventCategoryBanner').attr('checked', false)
    }
  })
})

$(document).ready(function () {
  $('.accept_button').click(function () {
    var eventId = $("#eventIndex").val();
    let Data = {
      'link': $('#eventLink').val(),
      'desc': $('#eventDesc').val(),
      'title': $('#eventTitle').val(),
      'start_date': $('#eventStart').val(),
      'end_date': $('#eventEnd').val(),
      'display_date': $('#eventDisplay').val(),
      'note': $('#eventTitle').val(),
      'location': $('#eventAddress').val(),
      'status': true,
      'region': $('#eventRegion').val(),
      'category': $('#eventCategory').val(),
      'home_banner': false,
      'category_banner': false
    }
    if($("#eventHomeBanner").prop('checked')){
      Data.home_banner = true
    }else{
      Data.home_banner = false
    }
    if($("#eventCategoryBanner").prop('checked')){
      Data.category_banner = true
    }else{
      Data.category_banner = false
    }
    form = JSON.stringify(Data)
    console.log(form)

    $.ajax({
      type: "PUT",
      url: "/api/event/" + eventId,
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      data: form,
      success: closeWindows('event-detail')
    })
  })

  $('.reject_button').click(function () {
    var eventId = $("#eventIndex").val();
    console.log($('#eventCategory').val());
    
    let Data = {
      'link': $('#eventLink').val(),
      'desc': $('#eventDesc').val(),
      'title': $('#eventTitle').val(),
      'start_date': $('#eventStart').val(),
      'end_date': $('#eventEnd').val(),
      'display_date': $('#eventDisplay').val(),
      'note': $('#eventTitle').val(),
      'location': $('#eventAddress').val(),
      'status': true,
      'region': $('#eventRegion').val(),
      'category': $('#eventCategory').val(),
      'home_banner': false,
      'category_banner': false
    }
    if($("#eventHomeBanner").prop('checked')){
      Data.home_banner = true
    }else{
      Data.home_banner = false
    }
    if($("#eventCategoryBanner").prop('checked')){
      Data.category_banner = true
    }else{
      Data.category_banner = false
    }
    form = JSON.stringify(Data)
    console.log(form)

    $.ajax({
      type: "PUT",
      url: "/api/event/" + eventId,
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      data: form,
      success: closeWindows()
    })
  })
})

var closeWindows = function () {
  document.getElementById('event-detail').style.display = 'none';
}

</script>  
{% endblock content %}
